// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h2 {
  color: rgb(26, 16, 173);
  font-size: 20px;
}
.question p{
  color: rgb(245, 0, 0);
  font-weight: bold;
}
